{% extends 'client/base.html' %}
{% load static %}
{% block content %}



<section class="slider">
  <div class="slider-inner">
    <div class="banner">
      <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
        <ul>

          <!-- start of banner 1 -->
         <li data-transition="scaledownfromtop" data-masterspeed="700"> 
            <img src="{% static 'client/images/graphix.jpg' %}" alt="Banner 1">
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="-21" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="300" 
                data-start="500" 
                data-easing="Quad.easeIn" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-end="4700" 
                data-endspeed="300"
                >
              <h2 class="text-uppercase">Effectiveness through <br> creative excellence.</h2>
            </div>
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="121"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="500" 
                data-start="600" 
                data-easing="Power3.easeInOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.05" 
                data-endelementdelay="0.1" 
                data-end="5000" 
                data-endspeed="300">
              <h5 class="">Nickel Waves excels in creative problem-solving, crafting integrated campaigns <br> and business design to establish meaningful connections and deliver impactful results.</h5>
            </div>
            <div class="tp-caption" 
              data-x="center" 
              data-y="bottom" 
              data-voffset="80"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
              data-speed="600" 
              data-start="1100" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.05" 
              data-endelementdelay="0.1" 
              data-end="5100" 
              data-endspeed="300"> 
              {% comment %} <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image">  {% endcomment %}
            </div>
          </li>
          <!-- end banner 1 -->




          
          <!-- start of banner 2 -->
          <li data-transition="scaledownfromtop" data-masterspeed="700" class="close-space"> 
            <img src="{% static 'client/images/Nickel5.jpg' %}" alt="Banner 2">
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="-21" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="300" 
                data-start="500" 
                data-easing="Quad.easeIn" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-end="4700" 
                data-endspeed="300">
              <h2 class="text-uppercase text-center banner-heading">Free Expert<br> Consultation</h2>
            </div>
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="121"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="500" 
                data-start="600" 
                data-easing="Power3.easeInOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.05" 
                data-endelementdelay="0.1" 
                data-end="5000" 
                data-endspeed="300">
              <h5 class="">Experience the impact of strategic creativity with a free consultation.</h5>
            </div>
            <div class="buttons tp-caption"
              data-x="center" 
              data-y="center" 
              data-voffset="180"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
              data-speed="600" 
              data-start="1100" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.05" 
              data-endelementdelay="0.1" 
              data-end="5100" 
              data-endspeed="300"
              >
              <a href="{% url 'client:wave' %}"><button class="btn btn-outline-success mt-5">Get Started</button></a>
            </div>
            <div class="tp-caption" 
              data-x="center" 
              data-y="bottom" 
              data-voffset="80"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
              data-speed="1100" 
              data-start="1600" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.05" 
              data-endelementdelay="0.1" 
              data-end="5100" 
              data-endspeed="300"> 
              {% comment %} <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image">  {% endcomment %}
            </div>
          </li>
          <!-- end banner 2 -->

          <!-- start of banner 3 -->
          <li data-transition="scaledownfromtop" data-masterspeed="700"> 
            <img src="{% static 'client/images/pink.jpg' %}" alt="Banner 2">
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="-21" 
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="300" 
                data-start="500" 
                data-easing="Quad.easeIn" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-end="4700" 
                data-endspeed="300">
              <h2 class="text-uppercase text-center banner-heading">Creative and <br> Purposeful Work</h2>
            </div>
            <div class="tp-caption" 
                data-x="center" 
                data-y="center" 
                data-voffset="121"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                data-speed="500" 
                data-start="600" 
                data-easing="Power3.easeInOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.05" 
                data-endelementdelay="0.1" 
                data-end="5000" 
                data-endspeed="300">
              <h5 class="">Our goal is to create purposeful work that works for your audience and your business.</h5>
            </div>
            <div class="buttons tp-caption"
              data-x="center" 
              data-y="center" 
              data-voffset="180"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
              data-speed="600" 
              data-start="1100" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.05" 
              data-endelementdelay="0.1" 
              data-end="5100" 
              data-endspeed="300"
              >
              <a href="{% url 'client:showcase' %}"><button class="btn btn-outline-success mt-5">Learn More</button></a>
            </div>
            <div class="tp-caption" 
              data-x="center" 
              data-y="bottom" 
              data-voffset="80"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
              data-speed="600" 
              data-start="1100" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.05" 
              data-endelementdelay="0.1" 
              data-end="5100" 
              data-endspeed="300"> 
              {% comment %} <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image">  {% endcomment %}
            </div>
          </li>
          <!-- end banner 3 -->



        </ul>
        <!-- end ul --> 
      </div>
      <!-- end rev_slider --> 
    </div>
    <!-- end banner --> 
  </div>
  <!-- end slider-inner --> 
</section>
<!-- end slider -->


<main>
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">.our showcase</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Amazing features with creative portfolio</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end header -->


    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
              
              {% for image in images %}
              <li class="wow fadeInUp" data-wow-delay="0.05s">
                <figure><img src="{{ image.image_file.url }}" alt="{{ image.image_name }}">
                 <a href="{{ image.image_file.url }}" data-rel="gallery" class="swipebox text-uppercase" title="{{ image.image_name }}"> 
                 <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner text-uppercase"> <span>O</span> {{ image.image_name }} </div>
                    </div>
                  </figcaption>
                  </a>
                </figure>
              </li>
              {% endfor %}
              
            </ul>
          </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end portfolio --> 
  </section>
  <!-- end showcase -->
  <section class="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.wave</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Amazing project with unique ideas</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span>
          </div>
          <!-- end title-box --> 
        </div>
        <!-- end col-12 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
          <h4>STRATEGY</h4>
          <p>Product is the vital essence of what we do, and truly great product is born of meticulous planning and process. This is where we specialise, taking a lean &amp; agile approach to product creation.</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
          <h4>DESIGN</h4>
          <p>One of our values as company is 'Beauty in Simplicity' because we love making things simple, intuitive and expertly crafted. Foremost to that is an exceptional user experience. </p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
          <h4>DEVELOPMENT</h4>
          <p>All great products marry exceptional design with solid execution. We're insatiably curious about what's next in technology, but we will always strive to pick the right tools for the job.</p>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end services-list -->
  <section class="quote wow fadeInUp" data-wow-delay="0.5s">
    <div class="columms background-image">
      <div class="table">
        <div class="inner">
          <h2><span></span><br>
            INSPIRE, CREATE, CONNECT</h2>
          {# <a href="#">+</a> #}
        </div>
          <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
    <div class="columms">
      <div class="table">
        <div class="inner">
          <blockquote>Start your brands journey to success with a free consultation</blockquote>
          <a href="{% url 'client:contact' %}">
            <button class="btn btn-outline-success text-bold">
              Book A Call
            </button>
          </a>

        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms --> 
  </section>
  <!-- end quote -->
  <section class="wave-awards wow fadeInUp" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>OUR AWARDS</h3>
          <p>We create digital experiences for brands communicating the unique services provided to your customers. Creativity for us something personal</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-sm-4 text-right"> <img src="{% static 'client/images/logo-awwards.png' %}" alt="Image"><span><span class="counter">17</span> TIMES</span> </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 text-right"> <img src="{% static 'client/images/logo-fwa.png' %}" alt="Image"> <span><span class="counter">28</span> TIMES</span> </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 text-right"> <img src="{% static 'client/images/logo-css-reel.png' %}" alt="Image"> <span><span class="counter">45</span> TIMES</span> </div>
            <!-- end col-4 --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end col-8 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end wave-awards --> 
</main>



{% endblock %}

