{% extends 'client/base.html' %}
{% load static %}

{% block content %}




<section class="gallerybanner hero6" style="background-image: url('{{ blog.blog_file.url }}')">
  
	<div class="gallerybanner__content">
		<div class="gallerybanner_title container">       
      <h3>{{ blog.heading }}</h3>
      <p>{{ blog.subheading }}</p>
      <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image"> </div>
	</div>
</section>


<main>
  <section class="news">
  	<div class="container">
    	<div class="row">
        	<div class="col-xs-12">
            	<div class="news-post">
                	{% comment %} <figure><img src="{{ blog.blog_file.url }}" alt="Image"></figure> {% endcomment %}
                    <figcaption>
                      <small class="text-uppercase mb-5" style="margin-bottom: 10%;">Posted On: {{ blog.date_created|date:'jS F, Y' }}</small><br><br><br>
                    	{% comment %} <h3>{{ blog.heading }}</h3>
                        <p>{{ blog.subheading }}</p>
                        <blockquote>
                        </blockquote> {% endcomment %}
                        <p>{{ blog.body }}</p>
                    </figcaption>
                </div>
                <!-- end news-post -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end news -->
</main>


{% endblock %}
