{% extends 'client/base.html' %}
{% load static %}
{% block content %}


<section class="int-header hero3">
  <div class="table">
    <div class="inner">
      <div class="container">
        <h3>digitAl solutiOns</h3>
        <p>We are the creative design agency that brings ambitious brands to the next level by transforming their digital business environment.</p>
        <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image"> </div>
      <!-- end container --> 
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</section>
<!-- end int-header -->
<main>
  <section class="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.services</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">We have a passion for building products that will shape</h5>
          <!-- end title-box --> 
           </div>

          <!-- end col-12 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
            <h4>Graphic Design</h4>
            <ul>
              <li>Logo Design</li>
              <li>Branding and Identity</li>
              <li>Print Design</li>
              <li>Motion Graphics</li>
              <li>Social Media Graphics</li>
              <li>Illustration Services</li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
            <h4>Web Design and Development</h4>
            <ul>
              <li>Responsive Web Design</li>
              <li>Custom Website Development</li>
              <li>Engaging User Experience Designs</li>
              <li>Interactive Web Solutions</li>
              <li>Mobile-Friendly Website</li>
              <li>Search Engine Optimization</li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
            <h4>Branding</h4>
            <ul>
              <li>Unique Branding Strategies</li>
              <li>Brand Identity Design</li>
              <li>Memorable Branding Campaigns</li>
              <li>Creative Logo Design Portfolio</li>
              <li>Strategic Brand Development</li>
              <li>Brand Consultancy</li>
            </ul>
          </div>
          <!-- end col-4 --> 

 
          <!-- end col-12 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
            <h4>Advertising and Marketing</h4>
            <ul>
              <li>Creative Advertising Campaigns</li>
              <li>Strategic Marketing Solutions</li>
              <li>Effective Digital Marketing</li>
              <li>Engaging Social Media Campaigns</li>
              <li>Targeted Online Advertising</li>
              <li>Email/Drip Marketing</li>
              <li>Mobile App Marketing</li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
            <h4>Production</h4>
            <ul>
              <li>High-Quality Video Production</li>
              <li>Creative Video Storytelling</li>
              <li>Professional Video Editing</li>
              <li>Professional Photography Portfolio</li>
              <li>Creative Commercial Photography</li>
              <li>Artistic Photography Services</li>
              <li>Captivating Product Photography</li>
          
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
            <h4>Content Creation</h4>
            <ul>
              <li>Compelling Content Creation</li>
              <li>Creative Copywriting</li>
              <li>SEO-Friendly Content Writing</li>
              <li>Engaging Blog Post</li>
              <li>Multimedia Content Production</li>
              <li>Editorial Excellence</li>
            </ul>
          </div>
          <!-- end col-4 --> 


          
      
          </div>



      </div>
      <!-- end row -->
    </div>
    <!--end containe -->
  </section>
  <!-- end services-list -->
  <section class="services">
    <div class="container">
      <div class="row margin-bottom">
        <div class="title-box">
          <h2 class="wow fadeInUp" data-wow-delay="0.05s">.capabilities</h2>
          <h5 class="wow fadeInUp" data-wow-delay="0.10s">We have a passion for building products that will shape</h5>
        <!-- end title-box --> 
         </div>


        <div class="col-md-3 col-sm-6 wow fadeInUp"> <i class="icon-theme"></i>
          <h4>STRATEGY</h4>
          <ul>
            <li>Growth Strategy</li>
            <li>Brand Strategy</li>
            <li>Innovation Strategy</li>
            <li>Customer Experience Strategy</li>
            <li>Data Strategy</li>
            <li>Research</li>

          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6 wow fadeInUp"> <i class="icon-theme"></i>
          <h4>DESIGN</h4>
          <ul>
            <li>Experience Design</li>
            <li>Design Language Systems</li>
            <li>Brand Identity and Naming</li>
            <li>Responsive Web</li>
            <li>Native Applications</li>
            <li>Retail Environments</li>
            <li>Packaging</li>
          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-paintcylinder"></i>
          <h4>MARKETING</h4>
          <ul>
            <li>Campaign Development</li>
            <li>Communications Planning</li>
            <li>Media Planning</li>
            <li>Content Strategy</li>
            <li>Performance Marketing</li>
            <li>Social and Influencer Marketing</li>
            <li>Public Relations</li>
            <li>Measurement and Reporting</li>
            <li>Testing and Optimization</li>
            
          </ul>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 col-sm-6"> <i class="icon-eye"></i>
          <h4>IMPLEMENTATION</h4>
          <ul>
            <li>Content Production</li>
            <li>Interactive Production</li>
            <li>Experiential and Event Production</li>
            <li>Film and Photo Studio</li>
            <li>Print Studio</li>
            <li>Post-Production</li>
            <li>Full Stack Development</li>
            <li>Prototyping</li>
            <li>Quality Assurance</li>
            
            
          </ul>
        </div>
        <!-- end col-3 --> 
      </div>
 
    </div>
    <!-- end container -->
  </section>

</main>


{% endblock %}