{% extends 'client/base.html' %}
{% load static %}
{% block content %}

<section class="int-header hero1">
  <div class="table">
    <div class="inner">
      <div class="container">
        <h3>thinking digitAl</h3>
        <p>We are the creative design agency that brings ambitious brands to the next level.</p>
        <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image"> </div>
      <!-- end container --> 
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</section>
<!-- end int-header -->
<main>
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">.our showcase</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Amazing features with creative portfolio</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end header -->


   <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
              
              {% for image in images %}
              <li class="wow fadeInUp" data-wow-delay="0.05s">
                <figure><img src="{{ image.image_file.url }}" alt="{{ image.image_name }}">
                 <a href="{{ image.image_file.url }}" data-rel="gallery" class="swipebox text-uppercase" title="{{ image.image_name }}"> 
                 <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner text-uppercase"> <span>O</span> {{ image.image_name }} </div>
                    </div>
                  </figcaption>
                  </a>
                </figure>
              </li>
              {% endfor %}
              
            </ul>
          </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end portfolio --> 
  </section>
  <!-- end showcase --> 
</main>


{% endblock %}