{% extends 'client/base.html' %}
{% load static %}
{% block content %}


{% comment %} <section class="int-header hero2">
  <div class="table">
    <div class="inner">
      <div class="container">
        <h3>creAtive platfOrm</h3>
        <p>We are the creative design agency that brings ambitious brands to the next level by transforming their digital business environment.</p>
        <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image"> </div>
      <!-- end container --> 
    </div>
    <!-- end inner --> 
  </div>
  <!-- end table --> 
</section>
<!-- end int-header --> {% endcomment %}


<section class="gallerybanner hero2">
	<div class="gallerybanner__content">
		<div class="gallerybanner_title container">       
      <h3>About Us</h3>
      <p>Our team has initiated several global endeavors to supplement our primary business and drive additional positive impact in the world.</p>
      <img src="{% static 'client/images/icon-mouse.png' %}" alt="Image"> </div>
	</div>
</section>

<main>
  <section class="wave-things">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.who we are?</h2>
            {# <h4 class="wow fadeInUp" data-wow-delay="0.10s">About Us</h4> #}
          <!-- end title-box --> 
        </div>
        <!-- end col-12 -->
        <div class="col-md-12 wow fadeInUp text-center" data-wow-delay="0.05s">
          <p>We’re a global creative agency, working across communications, brand design, customer experience, and customer relationships.</p><br>

            <p>Nickel waves is an impact-driven creative agency that partners with businesses and organizations to help them create a unique brand experience to drive growth and move above their competition.</p><br>
            
            <p>We strongly believe that every business deserves the best when it comes to marketing so we constantly coming up with creative ideas, relevant insights, and marketing technology can make a huge difference in helping businesses grow in today’s competitive world.</p><br>
             
            <p>By collaborating across disciplines, we create new solutions at the intersections of design and technology, data and creativity, business building and brand building. We help clients find the next wave of growth and win the next generation of customers.</p><br>
        </div>

 
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end wave-things -->
  <section class="process">

    <!-- end video -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.our core values</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Amazing features with creative portfolio</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> </div>
          <!-- end title-box --> 
        </div>
        <!-- end col-12 -->
        <div class="col-md-3 wow fadeIn core" data-wow-delay="0.05s"> <span class="numbers">1</span>
          <h5 class="steps">STRATEGIC APPROACH</h5>
          <p>We take a strategic and data-driven approach to every project, ensuring that your objectives are met effectively and efficiently.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn core" data-wow-delay="0.10s"> <span class="numbers">2</span>
          <h5 class="steps">CREATIVE EXCELLENCE</h5>
          <p>We have a passion for creativity and innovation, consistently delivering visually stunning and engaging brand communications that captivate your audiences.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn core" data-wow-delay="0.15s"> <span class="numbers">3</span>
          <h5 class="steps">CLIENT-CENTRIC FOCUS</h5>
          <p>We prioritize building strong relationships with our clients, understanding your unique needs, and delivering customized solutions that exceed expectations.</p>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn" data-wow-delay="0.20s"> <span class="numbers">4</span>
          <h5 class="steps">RESULT DRIVEN</h5>
          <p>We are committed to delivering measurable results and helping our clients achieve their brand and business goals.</p>
        </div>
        <!-- end col-3 --> 
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end process -->
  <section  class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-7 wow fadeInUp" data-wow-delay="0.5s">
          <h2>.why choose us</h2>
          <h3>Unique ideas need creative execution</h3>
          <ul>
            <li>
              <h5>1. Innovation Leaders</h5>
              <p>We pioneer innovative solutions at the crossroads of design and technology, keeping our clients ahead of trends and at the forefront of their industries.</p>
            </li>

            <li>
              <h5>2. All-In-One Hub</h5>
              <p>From communications to brand design, consulting to technology strategy, we're your go-to hub for comprehensive creative and strategic services, simplifying your journey to success.</p>
            </li>

            <li>
              <h5>3. Stunning Excellence</h5>
              <p>Creativity is our core, consistently delivering visually striking brand communications that set our clients apart in today's competitive market.</p>
            </li>

            <li>
              <h5>4. Go the Extra Mile</h5>
              <p>Clients love us for our commitment to going above and beyond, ensuring quality work that adds genuine value to your investment.</p>
            </li>

            <li>
              <h5>5. Global Expertise</h5>
              <p>Built on collaboration, we assemble client teams from the best global talent, providing access to diverse expertise for your specific project needs.</p>
            </li>
          </ul>
          
        </div>
        <!-- end col-7 -->
        <div class="col-md-5 wow fadeInUp side-wave" data-wow-delay="0.10s"> <img src="{% static 'client/images/Nickel5.jpg' %}" alt="Image"> </div>
        <!-- end col-5 --> 
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end about -us -->
 <section class="quote wow fadeInUp" data-wow-delay="0.5s">
    <div class="columms background-image">
      <div class="table">
        <div class="inner">
          <h2>QUALITY ASSURANCE</h2>
        </div>
          <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
    <div class="columms">
      <div class="table">
        <div class="inner">
          <blockquote>Whether you’re looking to reinvent a brand, design and build a new service, communicate with your audience, or build customer relationships, we can partner with you.</blockquote>
          <button class="btn btn-outline-success">
            Learn More
          </button>
          
        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms --> 
  </section>
  <!-- end quote -->

  <section class="logos">
    <div class="container">
      <div class="row">
      <div class="col-md-4">
      <h4>HAPPY CLIENTS</h4>
      <p>We create digital experiences for brands communicating the unique services provided to your customers. Creativity for us something personal</p>
      </div>
      <!-- end col-4 -->
        <div class="col-sm-8">
          <ul>
            <li>
              <figure><img src="{% static 'client/images/logo1.jpg' %}" alt="Image"> </figure>
            </li>
            <li>
              <figure><img src="{% static 'client/images/logo2.jpg' %}" alt="Image"> </figure>
            </li>
            <li>
              <figure><img src="{% static 'client/images/logo3.jpg' %}" alt="Image"> </figure>
            </li>
            <li>
              <figure><img src="{% static 'client/images/logo4.jpg' %}" alt="Image"> </figure>
            </li>
            <li>
              <figure><img src="{% static 'client/images/logo5.jpg' %}" alt="Image"> </figure>
            </li>
            <li>
              <figure><img src="{% static 'client/images/logo6.jpg' %}" alt="Image"> </figure>
            </li>
           
          </ul>
        </div>
        <!-- end col-8 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
</main>


{% endblock %}