{% extends 'superuser/base.html' %}
{% load static %}
{% block style %}
 
{% endblock %}

{% block content %}


<main class="main-content border-radius-lg">

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" data-scroll="true">
      <div class="container-fluid py-1 px-3 bg-white rounded mt-3">
        <nav aria-label="breadcrumb">
          <h2 class="font-weight-bolder mb-0">Edit Blog</h2>
        </nav>

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>

      </div>
    </nav>

    <!-- End Navbar -->


    <div class="container-fluid bg-white rounded  p-4 m-4">
        

            <div class="content shadow sm-p-10 md-p-8">

                <form role="form" class="px-5 py-5" action="" method="post" enctype="multipart/form-data">

                  {% csrf_token %}

                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Blog heading</label>
                      <input type="text" class="form-control" name="heading" value="{{ blog.heading }}" required>
                    </div>
                    
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Blog subheading</label>
                      <input type="text" class="form-control" name="subheading" value="{{ blog.subheading }}" required>
                    </div>

                    <div class="input-group input-group-outline mb-3">
                      <input type="file" class="form-control" id="logo" name="blog_file" accept="image/png, .jpeg, .jpg, image/gif" onclick="getLogo()" required>
                    </div>


                    <div class="logo-preview mb-3" id="logo-preview" >
                        <img src="" alt="logo-preview" class="logo-image" width="" heigth="" style="margin-left:-5%;">
                        <span class="logo-text">Image Preview</span>
                    </div>

                    {% comment %} <div class="input-group input-group-outline mb-3"> {% endcomment %}
                      <textarea class="form-control" id="mytextarea" name="body" rows="10" col="5" placeholder="Blog body" required>{{ blog.body }}</textarea>
                    {% comment %} </div> {% endcomment %}
                    
                    
                    <div class="text-center">
                      <a onclick="window.history.go(-1); return false;"><button type="button" class="btn bg-gradient-primary rounded-1 btn-sm mt-4 mb-0">Back</button></a>
                      {% comment %} <a href=""><button id="submit" class="btn bg-gradient-success rounded-1 btn-sm mt-4 mb-0">Save and Add another</button></a> {% endcomment %}
                      <a href=""><button type="submit" id="submit" class="btn bg-gradient-success rounded-1 btn-sm mt-4 mb-0">Save</button></a>
                    </div>
                  </form>
                  

            </div>

    </div>

</main>
 

{% endblock %}

{% block script %}
<script>
  tinymce.init({
      selector: '#mytextarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),

  });
</script> 


{% endblock %}