{% extends 'superuser/base.html' %}
{% load static %}
{% block style %}
 
{% endblock %}

{% block content %}


<main class="main-content border-radius-lg">

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" data-scroll="true">
      <div class="container-fluid py-1 px-3 bg-white rounded mt-3">
        <nav aria-label="breadcrumb">
          <h2 class="font-weight-bolder mb-0">Reset Password</h2>
        </nav>

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>

      </div>
    </nav>

    <!-- End Navbar -->


    <div class="container-fluid bg-white rounded  p-4 m-4">
        

            <div class="content shadow sm-p-10 md-p-8">
                <form role="form" class="px-5 py-5">
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">New Password</label>
                      <input class="form-control" type="password" id="new_password" name="new_password" autocomplete='off'>
                    </div>

                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Confirm New Password</label>
                      <input class="form-control" type="password" id="password" name="password" >
                    </div>
                    

                    
                    <div class="text-center">
                      <a onclick="window.history.go(-1); return false;"><button type="button" class="btn bg-gradient-primary rounded-1 btn-sm mt-4 mb-0">Back</button></a>
                      <a href=""><button type="submit" id="submit" class="btn bg-gradient-secondary rounded-1 btn-sm mt-4 mb-0">Save</button></a>
                    </div>
                  </form>
                  

            </div>

    </div>
            


</main>
 

{% endblock %}


{% block script %}

<script>

    function resetPassword() {

            const password = document.getElementById('password').value;
            const new_password = document.getElementById('new_password').value;

            var url = "{% url 'superuser:resetPassword' %}"
            var redirect = "{% url 'superuser:dashboard' %}"


            var csrf = document.querySelector('input[name=csrfmiddlewaretoken]').value;


            if(!password || !new_password){
                alert('Please enter password')
            }
            if(new_password.length < 6){
                alert('Password length must be at least 6 characters')
            }else if( password != new_password ){
                alert('Passwords mismatch')
            }else{

                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        password,
                        csrfmiddlewaretoken: csrf
                    },
                    success: function(data) {
                        alert('Password reset successfully')
                        window.location.href = redirect;
                    },
                    error: function(xhr, status, error) {
                        console.error("Request failed:", status, error);
                        alert("An error occurred. Please try again.");

                    }
                });

            }




            
   
        
    }
</script>

{% endblock %}