{% extends 'superuser/base.html' %}
{% load static %}
{% block style %}
 
{% endblock %}

{% block content %}


<main class="main-content border-radius-lg">

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" data-scroll="true">
      <div class="container-fluid py-1 px-3 bg-white rounded mt-3">
        <nav aria-label="breadcrumb">
          <h2 class="font-weight-bolder mb-0">Blogs</h2>
        </nav>

        <div class="float mt-3">
            <a href="{% url 'superuser:addBlog' %}"><button class="btn btn-primary rounded-lg">Add Blog<i class="material-icons" style="font-size: 1.5em;">add_circle</i></button></a>
        </div>
        

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>

      </div>
    </nav>

    <!-- End Navbar -->


    <div class="container-fluid bg-white rounded  p-4 m-4">
        <div class="container-md sm-p-10 md-p-8">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% csrf_token %}
                <!-- CARD 1 -->
                {% for blog in blogs %}
                <div class="col" id="{{ video.id }}">
                    <div class="rounded overflow-hidden shadow bg-white">
                    <a href="#"></a>

                    <div class="position-relative">
                        <img class="img-fluid object-cover" src="{{ blog.blog_file.url }}" alt="placeholder">
                    </div>

                    <div class="px-3 py-2 mb-auto">
                       <a href="">
                        <p class="text-lg fw-bold text-dark transition-500 inline-block mb-2">{{ blog.heading }}</p>
                       </a>
                    </div>

                    <div class="border-bottom border-dark mx-3"></div>

                    <div class="px-3 py-2 d-flex flex-row justify-content-between bg-white">

                        <span class="py-1 mb-3 text-sm mt-0 d-flex align-items-center">
                            <i class="material-icons" style="font-size: 1.5em;">table_view</i>
                            <span class="ms-1 text-sm font-light">{{ blog.date_created|date:'jS F, Y' }}</span>
                        </span>

                        <span class="py-1 text-sm d-flex align-items-center">
                            <a href="{% url 'superuser:editBlog' id=blog.id %}" class="m-1"><button class="btn btn-sm btn-danger rounded-2"><i class="material-icons" style="font-size: 1.5em;">edit</i></button></a>
                            <a href="{% url 'superuser:deleteBlog' id=blog.id %}" class="item-delete" id="{{ blog.id }}"><button class="btn btn-sm btn-primary rounded-2"><i class="material-icons" style="font-size: 1.5em;">delete</i></button></a>
                        </span>
        
                    </div>

                    </div>
                </div>
                {% endfor %}

    
            </div>
    
        </div>
    </div>
            


</main>
 


{% endblock %}